

.team-container{
  display:flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
    
}

.team-card{
  width:40%;
  max-width:250px;
  padding: 5px;
  background: #ffffff;
  margin: 10px 10px;
  color: #595959;
  border-radius:15px;
  text-align: center;
  
}
.team-card img{
    width: 70%;
    border-radius:50%;
}
.employee-name{
  font-weight:bold;
}
.employee-position{
  font-size:0.8rem;
}



