.title {
    text-align:center;
    margin:15px 0;
}
.description{
    text-align:justify;
    margin:15px 0;
}
.lottieFile-header{
    width: 100%;
    margin:0 auto;
}
.section-header{
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

