.title {
    text-align:center;
    margin:15px 0;
}
.description{
    text-align:justify;
    margin:15px 0;
}
.lottieFile-header{
    width: 50%;
    margin:0 auto;
}
@media screen and (max-width:450px){
    .section-header {
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    }
    .lottieFile-header{
        width: 100%;
        margin:0 auto;
    }
}


