.card {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background:#ffffff;
    width:300px;
    height: 350px;
    margin:25px auto;
    border-radius:15px;
}

.card-title{

    text-align:center;
    margin:10px auto;
}

.card-img{
    width: 150px;
    height: 150px;
    align-self: center;
   
    border-radius:15px;
}
.card-description{
    text-align:center;
    margin:10px auto;
}

.card-button{
    display:block;
    text-decoration: none;
    color: white;
    background:#00008e;
    padding: 10px 30px;
    align-self: center;
    text-align:center;
    border-radius: 10px;
    margin:15px 0;
    font-weight: bold;
    box-shadow: 2px 2px 2px 0px #4949eb;
}